body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #0074d9;
    color: #fff;
    padding: 20px;
    align-items: center;
    text-align: center;
    display: grid;
    justify-content: center;
}

header a {
    text-decoration: none;
    color: #fff;
}

main {
    align-items: center;
    text-align: center;
    display: grid;
    justify-content: center;
}



main ul {
    text-decoration: none;
    list-style-position: inside;
}

main a {
    text-decoration: none;
    color: #000;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    bottom: 0;

    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}